body { margin:0; background:#00697132; }

.dashboard-page { 
    max-width:1200px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-family: 'Monaco', monospace;
    overflow-x: hidden;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 1100px;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}
