body { margin:0; background:#00697132; }

.dashboard-page { 
    padding:.5rem; 
    max-width:1200px; 
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}

